.navbar {
    font-family: 'Gabarito', cursive;
    background-color: white;
    max-height: 10vh;


}

.modal {
    font-family: 'Gabarito', cursive;

}

.custom-align-right {
    margin-left: auto;
    /* padding-right: 2vw; */
}

.nav-link {

    margin: 0;
    padding: 0;
    color: black;
}

.nav-link:hover {
    color: gray;
    scale: 1.01;
}

.nav-item {
    padding-right: 1.2vw;
    padding-left: 1.2vw;
}

.nav-btn {
    background-color: #202020;
    color: white;
    border-radius: 10px;
    border-width: 0;
}

.nav-btn:hover {
    background-color: black;
    scale: 1.01;

}

.search {
    border-radius: 0px;
}

.search:hover {
    border-color: black;
    box-shadow: none;
}

.navbg {
    background-color: white;
}

.form-control {
    border-radius: 0px !important;
    border-width: 1.2px !important;
    border-color: black !important;

}

.form-control:focus {
    outline: none !important;
    border-width: 1.2px !important;
    box-shadow:none !important;
    border-color: #6E42E5 !important;

}


.form-btn {
    background-color: #6E42E5 !important;
    width: 100%;

}

.form-btn:hover{
    scale: 1.008;
    transition: ease-in-out;
}

.form-btn-si{
    background-color: #7046e3 !important;
    width: 100%;

}